mixin polldisplay(poll,index,hidden)
    div(class=hidden?"ui card centered hidden":"ui card centered" id = index)
      div(class="content")
        div(class="header")=poll.title
        div(class="description")= poll.description
      div(class="extra content")
        a(role="button" class= "ui button" href="/poll/"+poll._id)
          i(class="icon search")
          span   View
        p(class="meta")= poll.totalvote+' people voted on this'

html
  head
    script(src= '/index.min.js' type="text/javascript")
    script(src='/dist/semantic.min.js' type="text/javascript")
    link(rel='stylesheet', href='/dist/semantic.min.css')
    title VotingApp - create a poll or cast a vote
  body
    include components/navbar.pug
    div(class="ui grid container")
      include components/footer.pug
      div(class="ui form")
        div(class="inline fields")
          label Sort by :
          div(class="field")
            div(class="ui radio checkbox")
              input(type="radio" value="trending" name="sort" checked)
              label Trending
          div(class="field")
            div(class="ui radio checkbox")
              input(type="radio" value="random" name="sort" )
              label Random                
      div(class= "ui cards" id= "allpolls")
        each poll,index in polls_arr
          if index < 5
            +polldisplay( poll,index,false)
          else
            +polldisplay( poll,index,true)
        div(class="ui card centered" id= "addpoll")
          div(class="content")
            div(class="header") Your poll here
            div(class="description")= message
          div(class="extra content")
            if authorized
              button(type= "button"  class= "ui button secondary" id="showmodal")
                i(class="white plus icon")
                span Add poll
            else
              a( href="/auth/github")
                button(type= "button" role="button" class= "ui button secondary" id = 'unlogged')
                  i(class="white plus icon")
                  span Add poll
      div(class="row")
        button(class= "ui button fluid basic grey showmore")
          span Show more
        button(class= "ui button fluid basic grey showless hidden")
          span Show less
      

    include components/modal.pug