html
  head
    script(src= '/index.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")
    link(href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Prata" rel="stylesheet")
    link(rel='stylesheet', href='/main.css')
    title VotingApp - create a poll or cast a vote
  body
    header The Voting App
      div(class="dropdown")
        button(class="btn dropdown-toggle" type="button" data-toggle="dropdown")
          span(class="glyphicon glyphicon-align-justify iconlarge iconwhite")
        ul(class="dropdown-menu dropdown-menu-right")
          if authorized
            li
              a(href="/profile") 
                span(class="glyphicon glyphicon-user" aria-hidden="true") 
                span   Profile
            li
              a(href="/logout")
                span(class="glyphicon glyphicon-log-out" aria-hidden="true") 
                span    Logout
          else
            li
              a(href="/auth/github" )
                span(class="glyphicon glyphicon-log-in" aria-hidden="true")
                span    Login with Github
    div(class="content")
      h2= "Welcome, "+user
      div(class="row")
        div(class="button dropdown note " id="sort") Sort by : 
          select(id="sortselector")
            option(value="trending" selected) Trending
            option(value="random") Random
      div(class= "row" id= "allpolls")
        each poll,index in polls_arr
          if index < 5
            div(class="col-sm-4 col-xs-12 polldisplay" id = index)
              h3= poll.title
              p(class="crop")= poll.description
              a(role="button" class= "btn btn-default btn-lg" href="/poll/"+poll._id)
                span(class="glyphicon glyphicon-search" aria-hidden="true")
                span   View
              p(class="note")= poll.totalvote+' people voted on this'
          else
            div(class="col-sm-4 col-xs-12 polldisplay hidden" id = index)
              h3= poll.title
              p(class="crop")= poll.description
              a(role="button" class= "btn btn-default btn-lg" href="/poll/"+poll._id)
                span(class="glyphicon glyphicon-search" aria-hidden="true")
                span   View
              p(class="note")= poll.totalvote+' people voted on this'
        div(class="col-sm-4 col-xs-12 polldisplay" id= "addpoll")
          h3 Your poll here
          p= message          
          if authorized
            button(type= "button" class= "btn btn-default btn-lg" data-toggle="modal" data-target="#pollmodal")
              span(class="glyphicon glyphicon-plus" aria-hidden="true")
              span Add poll
          else       
            button(type= "button" class= "btn btn-default btn-lg" id = 'unlogged')
              span(class="glyphicon glyphicon-plus" aria-hidden="true")
              span Add poll
      div(class="row buttomrow")
        div(class='col-sm-4 col-sm-offset-4 col-xs-12')
          a(role="button" class= "btn menutext showmore btn-default btn-lg btn-block")
            span Show more
          a(role="button" class= "btn menutext hidden showless btn-default btn-lg btn-block")
            span Show less
      include components/footer.pug

      include components/modal.pug