html
  head
    script(type='text/javascript').                                                  
      var pug_data =!{JSON.stringify(results)};   
    script(src="/poll.min.js" type="text/javascript")
    script(src='/dist/semantic.min.js' type="text/javascript")
    link(rel='stylesheet', href='/dist/semantic.min.css')
    title= 'VotingApp - '+title
  body
    include components/navbar.pug
    div(class="ui grid text container")
      include components/footer.pug
      div(class='ui card fluid')
        div(class="content")
          if flash.status == 'failed'
            div(class="ui negative  message transition")
              i(class="close icon")
              div(class="header") Vote failed
              p= flash.message
          if flash.status == 'success'
            div(class="ui success   message transition")
              i(class="close icon")
              div(class="header") Successfully voted
              p=flash.message
          div(class="header")= title
          div(class="description")= message
          form(class="ui form" id ='submitvote' action = action method = 'post')
            div(class="grouped fields")
              div(class="inline fields")
                each val,index in options
                  div(class="field")
                    div(class="ui radio checkbox")
                      input(type='radio' value=index name="choice")
                      label=val
              if authorized
                div(class="inline fields")
                  div(class="ui radio checkbox")
                    input(type="radio" value=-1 name="choice")
                    label
                  div(class="field")
                    input(type="text" name="addoption" maxlength="30" placeholder="Add new option")  
            button(class="ui button" type="submit")
              i(class="icon pencil alternate")
              span Vote for it
          div(class="image")
            canvas(id="myChart")
        


